<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MiMap.Web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/Site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/Site.min.css" asp-append-version="true" />
    </environment>
    
    @RenderSection("Styles", required: false)
</head>
<body class="@ViewData["BodyClass"]">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MiMap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - MiMap.Web</p>
        </footer>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
